* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 1.25em;
    //background-color: $nippy-yellow;
}

figure {
    padding: 0 1em;
    max-width: 33em;
}

div {
    width: 100%;
}

img {
    display: block;
    width: 100%;
}

