@{
    ViewBag.Title = "Home";
}
<script type="text/javascript" src="~/Content/scripts/capture.js"></script>
<h2 class="text-danger text-uppercase">I am Nippy</h2>

<p>Send us a picture of the car...</p>
<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Snap Photo</button>
<canvas id="canvas" width="640" height="480"></canvas>