@{
    ViewBag.Title = "Home";
}
@*<script type="text/javascript" src="~/Content/scripts/capture.js"></script>*@

<header>
    <h2 class="text-danger text-uppercase">I am Nippy</h2>
    <nav>
        <ul>
            <li>
                Home
            </li>
            <li>
                Your Account
            </li>
        </ul>
    </nav>
</header>



<section id="buttons">
    <button type="button" class="prev-button" data-bind="click:previousStep">Previous</button>
    <p data-bind="text: currentStep"></p>
    <button type="button" class="next-button" data-bind="click:nextStep">Next</button>
</section>